@import "tailwindcss";

@theme {
  --color-primary: var(--color-red-600);
  --color-bg: var(--color-zinc-900);
  --color-text: var(--color-zinc-300);
}

@layer base {
  body {
    @apply bg-bg text-text;
  }

  button,
  a {
    @apply cursor-pointer flex gap-2 items-center p-2 hover:opacity-80 active:opacity-50 rounded;
  }
}

@layer components {
  .con {
    @apply max-w-300 mx-auto;
  }
}
